# Importing Data

## 1) E-Commerce Public Dataset

In [1]:
import pandas as pd

In [2]:
customers = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\olist_customers_dataset.csv')

In [3]:
orders = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\olist_orders_dataset.csv')

In [4]:
locations = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\olist_geolocation_dataset.csv')

In [5]:
items = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\olist_order_items_dataset.csv')

In [6]:
payments = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\olist_order_payments_dataset.csv')

In [7]:
reviews = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\olist_order_reviews_dataset.csv')

In [164]:
products = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\olist_products_dataset.csv')

In [9]:
sellers = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\olist_sellers_dataset.csv')

In [121]:
translation = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\product_category_name_translation.csv')

## 2) Marketing Funnel by Olist

In [11]:
closed_deals = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\marketing\olist_closed_deals_dataset.csv')

In [12]:
qualified_leads = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\marketing\olist_marketing_qualified_leads_dataset.csv')

# EDA

## 1)Customers

In [13]:
customers.describe(include='object')

,customer_id,customer_unique_id,customer_city,customer_state
count,99441,99441,99441,99441
unique,99441,96096,4119,27
top,06b8999e2fba1a1fbc88172c00ba8bc7,8d50f5eadf50201ccdcedfb9e2ac8455,sao paulo,SP
freq,1,17,15540,41746

In [14]:
customers.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [15]:
customers.duplicated().sum()

np.int64(0)

## 2) Reviews

In [16]:
reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [17]:
reviews.isnull().mean()*100

review_id                   0.000000
order_id                    0.000000
review_score                0.000000
review_comment_title       88.341530
review_comment_message     58.702532
review_creation_date        0.000000
review_answer_timestamp     0.000000
dtype: float64

In [18]:
reviews.duplicated().sum()

np.int64(0)

## 3) Orders

In [19]:
orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [20]:
orders.describe(include='object')

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99281,97658,96476,99441
unique,99441,99441,8,98875,90733,81018,95664,459
top,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2018-08-02 12:05:26,2018-02-27 04:31:10,2018-05-09 15:48:00,2018-05-08 19:36:48,2017-12-20 00:00:00
freq,1,1,96478,3,9,47,3,522

In [21]:
customers[customers['customer_unique_id'] == '8d50f5eadf50201ccdcedfb9e2ac8455']

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
14186,1bd3585471932167ab72a84955ebefea,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
15321,a8fabc805e9a10a3c93ae5bff642b86b,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
16654,897b7f72042714efaa64ac306ba0cafc,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
36122,b2b13de0770e06de50080fea77c459e6,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
38073,42dbc1ad9d560637c9c4c1533746f86d,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
40141,dfb941d6f7b02f57a44c3b7c3fefb44b,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
48614,65f9db9dd07a4e79b625effa4c868fcb,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
52574,1c62b48fb34ee043310dcb233caabd2e,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
58707,a682769c4bc10fc6ef2101337a6c83c9,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
67996,6289b75219d757a56c0cce8d9e427900,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
72745,3414a9c813e3ca02504b8be8b2deb27f,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
74510,0e4fdc084a6b9329ed55d62dcd653ccf,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
83363,f5188d99e9281e214a4a7d1b139a8229,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
85507,89be66634d68fa73a95499b6352e085d,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
90268,0bf8bf19944a7f8b40ba86fef778ca7c,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
93591,9a1afef458843a022e431f4cb304dfe9,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP
96652,31dd055624c66f291578297a551a6cdf,8d50f5eadf50201ccdcedfb9e2ac8455,4045,sao paulo,SP

In [22]:
qualified_leads.describe(include='object')

,mql_id,first_contact_date,landing_page_id,origin
count,8000,8000,8000,7940
unique,8000,336,495,10
top,dac32acd4db4c29c230538b72f8dd87d,2018-05-02,b76ef37428e6799c421989521c0e5077,organic_search
freq,1,93,912,2296

In [23]:
products

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

# Recatecorization & Cleaning

In [104]:
len(translation['product_category_name'].unique())

71

In [125]:
category_map = {
    'bed_bath_table': 'Home & Furniture',
    'furniture_decor': 'Home & Furniture',
    'furniture_mattress_and_upholstery': 'Home & Furniture',
    'furniture_living_room': 'Home & Furniture',
    'furniture_bedroom': 'Home & Furniture',
    'home_confort': 'Home & Furniture',
    'home_comfort_2': 'Home & Furniture',
    'home_appliances': 'Home & Furniture',
    'home_appliances_2': 'Home & Furniture',
    'kitchen_dining_laundry_garden_furniture': 'Home & Furniture',
    'housewares': 'Home & Furniture',
    'home_construction': 'Home & Furniture',
    'office_furniture': 'Home & Furniture',
     'furniture_mattress_and_upholstery': 'Home & Furniture',

    'health_beauty': 'Health & Beauty',
    'perfumery': 'Health & Beauty',
    'diapers_and_hygiene': 'Health & Beauty',

    'fashion_bags_accessories': 'Fashion & Accessories',
    'fashion_shoes': 'Fashion & Accessories',
    'fashion_male_clothing': 'Fashion & Accessories',
    'fashion_childrens_clothes': 'Fashion & Accessories',
    'fashion_underwear_beach': 'Fashion & Accessories',
    'fashion_sport': 'Fashion & Accessories',
    'fashio_female_clothing': 'Fashion & Accessories',
    'luggage_accessories': 'Fashion & Accessories',

    'computers': 'Electronics & Tech',
    'computers_accessories': 'Electronics & Tech',
    'tablets_printing_image': 'Electronics & Tech',
    'electronics': 'Electronics & Tech',
    'telephony': 'Electronics & Tech',
    'fixed_telephony': 'Electronics & Tech',
    'audio': 'Electronics & Tech',
    'consoles_games': 'Electronics & Tech',
    'cine_photo': 'Electronics & Tech',
    'cds_dvds_musicals': 'Electronics & Tech',
    'dvds_blu_ray': 'Electronics & Tech',
    'air_conditioning': 'Electronics & Tech',
    'computers': 'Electronics & Tech',


    'sports_leisure': 'Sports & Leisure',
    'cool_stuff': 'Sports & Leisure',
    'toys': 'Sports & Leisure',
    'musical_instruments': 'Sports & Leisure',
    'music': 'Sports & Leisure',
    'art': 'Sports & Leisure',
    'books_general_interest': 'Sports & Leisure',
    'books_imported': 'Sports & Leisure',
    'books_technical': 'Sports & Leisure',
    'party_supplies': 'Sports & Leisure',
    'christmas_supplies': 'Sports & Leisure',

    'construction_tools_construction': 'Tools & Industrial',
    'construction_tools_garden': 'Tools & Industrial',
    'costruction_tools_garden': 'Tools & Industrial',
    'costruction_tools_tools': 'Tools & Industrial',
    'construction_tools_lights': 'Tools & Industrial',
    'construction_tools_safety': 'Tools & Industrial',
    'signaling_and_security': 'Tools & Industrial',
    'security_and_services': 'Tools & Industrial',
    'industry_commerce_and_business': 'Tools & Industrial',
    'agro_industry_and_commerce': 'Tools & Industrial',
    'garden_tools': 'Tools & Industrial',

    'market_place': 'Marketplace & Retail',
    'stationery': 'Marketplace & Retail',
    'office_furniture': 'Marketplace & Retail',

    'baby': 'Baby, Kids & Pet',
    'pet_shop': 'Baby, Kids & Pet',

    'food': 'Food & Drinks',
    'food_drink': 'Food & Drinks',
    'drinks': 'Food & Drinks',
    'la_cuisine': 'Food & Drinks',
    'small_appliances': 'Food & Drinks',
    'small_appliances_home_oven_and_coffee': 'Food & Drinks',

    'watches_gifts': 'Gifts & Decoration',
    'flowers': 'Gifts & Decoration',
    'arts_and_craftmanship': 'Gifts & Decoration',

    'auto': 'Automotive',
}

In [127]:
translation['main_category'] = translation['product_category_name_english'].map(category_map)

In [129]:
translation.columns = ['product_category_name', 'Sub category', 'main category']

In [130]:
translation.to_csv('translation.csv')

In [165]:
products['product_category_name'].isnull().mean()

np.float64(0.018512336499651)

In [166]:
products.dropna(inplace= True)

In [123]:
new_rows = pd.DataFrame({
    'product_category_name': ['pc_gamer', 'moveis_colchao_e_estofado'],
    'product_category_name_english': ['computers', 'furniture_mattress_and_upholstery']
})

# Append to your main translation_df
translation = pd.concat([translation, new_rows], ignore_index=True)

In [124]:
translation

            product_category_name      product_category_name_english
0                    beleza_saude                      health_beauty
1          informatica_acessorios              computers_accessories
2                      automotivo                               auto
3                 cama_mesa_banho                     bed_bath_table
4                moveis_decoracao                    furniture_decor
..                            ...                                ...
68                fraldas_higiene                diapers_and_hygiene
69  fashion_roupa_infanto_juvenil          fashion_childrens_clothes
70             seguros_e_servicos              security_and_services
71                       pc_gamer                          computers
72      moveis_colchao_e_estofado  furniture_mattress_and_upholstery

[73 rows x 2 columns]

In [131]:
orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [161]:
products[products['product_id'].str.contains('980a05f1865790c75cf9a22ae4771c1c')]

Empty DataFrame
Columns: [product_id, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm]
Index: []

In [162]:
products.isnull().sum()

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

In [169]:
items.merge(products,how = 'left').isnull().mean()*100

order_id                      0.000000
order_item_id                 0.000000
product_id                    0.000000
seller_id                     0.000000
shipping_limit_date           0.000000
price                         0.000000
freight_value                 0.000000
product_category_name         1.423879
product_name_lenght           1.423879
product_description_lenght    1.423879
product_photos_qty            1.423879
product_weight_g              1.423879
product_length_cm             1.423879
product_height_cm             1.423879
product_width_cm              1.423879
dtype: float64

In [170]:
items.dropna(inplace = True)

In [171]:
items.to_csv('items.csv')

# Reviews Categorization

In [172]:
#classification = ['Delivery','Deffect','Wrong Item','Missing Items','Company','Others','Positive']

# Use a pipeline as a high-level helper
# from transformers import pipeline
# pipe = pipeline("zero-shot-classification", model="MoritzLaurer/mDeBERTa-v3-base-xnli-multilingual-nli-2mil7")

#1
# def catigorized(lists):
#   n = pipe(lists[26000:30000], classification, multi_label=False)
#   pd.DataFrame(n).to_csv('catigorized.csv')
#   return n

#2
# unsorted = catigorized(comments_list)

#3
# reviews_categories = []
# for i in range(len(unsorted)):
#   reviews_categories.append(unsorted[i]['labels'][:2])

#4
# pd.DataFrame(reviews_categories).to_csv('sorted.csv')

#5
# from google.colab import files
# files.download('sorted.csv')

## 1) Importing data

In [173]:
reviews1 = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\Reviews categories\0-1000.csv')

In [174]:
reviews2 = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\Reviews categories\1000-2000.csv')

In [175]:
reviews3 = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\Reviews categories\2000-7000.csv')

In [176]:
reviews4 = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\Reviews categories\7000-10000.csv')

In [187]:
reviews5 = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\Reviews categories\10000-13000.csv')

In [178]:
reviews6 = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\Reviews categories\13000 - 16000.csv')

In [179]:
reviews7 = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\Reviews categories\16000 - 20000.csv')

In [180]:
reviews8 = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\Reviews categories\20000 - 24000.csv')

In [181]:
reviews9 = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\Reviews categories\24000 - 26000.csv')

In [288]:
reviews10 = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\Reviews categories\26000-31000.csv')

In [289]:
reviews11 = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\Reviews categories\31000-36000.csv')

In [290]:
reviews12 = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\Reviews categories\36000-40977.csv')

## 2) Concatinating

In [499]:
category_reviews = pd.concat([reviews1,reviews2,reviews3,reviews4,reviews5,reviews6,reviews7,reviews8,reviews9,reviews10,reviews11,reviews12], ignore_index=True)

In [500]:
category_reviews.columns = ['index', 'Primary Category', 'Secondary Category']

In [501]:
category_reviews.drop('index', axis=1 , inplace=True)

In [502]:
category_reviews

      Primary Category Secondary Category
0              Company           Delivery
1             Positive           Delivery
2        Missing Items            Deffect
3        Missing Items            Deffect
4        Missing Items           Positive
...                ...                ...
40972         Positive      Missing Items
40973         Positive      Missing Items
40974         Positive      Missing Items
40975         Positive      Missing Items
40976         Positive      Missing Items

[40977 rows x 2 columns]

## 3) Merging With Reviews

In [503]:
concated = reviews.sort_values(by='review_comment_message',ascending=False)

In [504]:
concated.reset_index(inplace = True)

In [505]:
concated = pd.concat([concated,category_reviews],axis=1)

In [506]:
concated

,index,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,Primary Category,Secondary Category
0,90604,78ef188726f0bf273844e117b63e1d80,d05d5881240a2b6f02e90a83bddc85cd,1,NaN,😡😡😡😡😡👎👎👎👎👎\r\nEmpresa sem compromisso com o cl...,2018-08-11 00:00:00,2018-08-11 14:06:21,Company,Delivery
1,30017,f4fe6a8976ba615c00f0c5e42250d293,6d983186ed41c01b43e558f2d7a68010,5,NaN,😍😍👧💅 amei e chegou até antes do esperodo,2017-12-27 00:00:00,2017-12-28 01:11:47,Positive,Delivery
2,18496,ea70389d0aee26a9d7cb9ce3ea9a6650,78c96fa659d86790819c423216522535,4,NaN,😆😆😆😆😆😆,2017-07-01 00:00:00,2017-07-01 23:07:33,Missing Items,Deffect
3,34359,79c798a201538ab543bb86af0182f4c9,83073309378cf709e67e8368e97447c4,5,NaN,😆😆😆😆😆,2017-07-25 00:00:00,2017-07-25 19:30:06,Missing Items,Deffect
4,76390,384e5d48af46db4c863eb5d756566368,b6b9f5144b004ad3db40567cdce34811,5,NaN,😃 ótimo 👍,2018-05-15 00:00:00,2018-05-15 22:17:19,Missing Items,Positive
...,...,...,...,...,...,...,...,...,...,...
99219,99217,c6b270c61f67c9f7cb07d84ea8aeaf8b,48f7ee67313eda32bfcf5b9c1dd9522d,5,NaN,NaN,2017-12-13 00:00:00,2017-12-14 11:09:36,NaN,NaN
99220,99218,af2dc0519de6e0720ef0c74292fb4114,d699c734a0b1c8111f2272a3f36d398c,5,NaN,NaN,2018-04-27 00:00:00,2018-04-30 01:18:57,NaN,NaN
99221,99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30,NaN,NaN
99222,99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42,NaN,NaN
99223,99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13,NaN,NaN

In [507]:
concated.drop('index', axis=1 , inplace=True)

In [508]:
concated.columns = ['review_id', 1,2,'review_comment_title',
       'review_comment_message', 3,4, 'Primary Category', 'Secondary Category']

In [509]:
concated.drop([1,2,3,4], axis=1 , inplace=True)

In [510]:
concated

,review_id,review_comment_title,review_comment_message,Primary Category,Secondary Category
0,78ef188726f0bf273844e117b63e1d80,NaN,😡😡😡😡😡👎👎👎👎👎\r\nEmpresa sem compromisso com o cl...,Company,Delivery
1,f4fe6a8976ba615c00f0c5e42250d293,NaN,😍😍👧💅 amei e chegou até antes do esperodo,Positive,Delivery
2,ea70389d0aee26a9d7cb9ce3ea9a6650,NaN,😆😆😆😆😆😆,Missing Items,Deffect
3,79c798a201538ab543bb86af0182f4c9,NaN,😆😆😆😆😆,Missing Items,Deffect
4,384e5d48af46db4c863eb5d756566368,NaN,😃 ótimo 👍,Missing Items,Positive
...,...,...,...,...,...
99219,c6b270c61f67c9f7cb07d84ea8aeaf8b,NaN,NaN,NaN,NaN
99220,af2dc0519de6e0720ef0c74292fb4114,NaN,NaN,NaN,NaN
99221,574ed12dd733e5fa530cfd4bbf39d7c9,NaN,NaN,NaN,NaN
99222,f3897127253a9592a73be9bdfdf4ed7a,NaN,NaN,NaN,NaN
99223,1adeb9d84d72fe4e337617733eb85149,NaN,NaN,NaN,NaN

In [511]:
concated.to_csv('categorized_reviews.csv',index = False)

## 4) Reviews With Tile Only (No Comment)

In [450]:
title_categorized = pd.read_csv(r'C:\Users\sas33\OneDrive\Desktop\Data Analytics\Data Sprint\Raw Data\Reviews categories\Title_categorized.csv')

In [451]:
reviews_with_title = concated[(concated['review_comment_title'].isnull() == False) & (concated['review_comment_message'].isnull() == True)]

In [452]:
reviews_with_title.reset_index(inplace = True)

In [453]:
title = list(reviews_with_title['review_comment_title'].values)

In [454]:
title_categorized.columns = ['index', 'Primary Category', 'Secondary Category']

In [455]:
title_categorized.drop('index', axis=1 , inplace=True)

In [456]:
title_categorized

     Primary Category Secondary Category
0            Positive             Others
1       Missing Items         Wrong Item
2            Delivery           Positive
3            Positive             Others
4            Positive             Others
...               ...                ...
1724         Positive           Delivery
1725         Positive             Others
1726         Positive             Others
1727         Positive             Others
1728         Delivery            Deffect

[1729 rows x 2 columns]

In [457]:
title_categorized = pd.concat([reviews_with_title,title_categorized],axis=1)

In [458]:
title_categorized

,index,review_id,review_comment_title,review_comment_message,Primary Category,Secondary Category,Primary Category,Secondary Category
0,41007,1edd1a85161468a77e5fcb165be9b294,Ótimo,NaN,NaN,NaN,Positive,Others
1,41039,352609f0f2d34ce5d3b8de817ee948d5,Não recebi o produto.,NaN,NaN,NaN,Missing Items,Wrong Item
2,41109,a89a2b0c2014bc49a0f87f1eedb7b269,Entrega antes do previsto,NaN,NaN,NaN,Delivery,Positive
3,41112,cdc5c81bd9377ccbf9cb95f05648c31b,Recomendo,NaN,NaN,NaN,Positive,Others
4,41266,b50001aa0bbd7557c4ad80eee167a2a1,Ótimo,NaN,NaN,NaN,Positive,Others
...,...,...,...,...,...,...,...,...
1724,99108,8b46f9e835a1644a414a9753b1d9539d,Excelente,NaN,NaN,NaN,Positive,Delivery
1725,99125,3103d2a4e5556d9c00c29e820958b5e7,Super satisfeito,NaN,NaN,NaN,Positive,Others
1726,99138,451849d56168ddedbe4d4ef3749af6ea,muito bom,NaN,NaN,NaN,Positive,Others
1727,99190,d8ab64a06366d369a9cdbed694e7ee93,super recomendo,NaN,NaN,NaN,Positive,Others
1728,99207,40743b46a0ee86375cedb95e82b78d75,OTIMA EMBALAGEM,NaN,NaN,NaN,Delivery,Deffect

In [459]:
title_categorized['Secondary Category'] = title_categorized['Primary Category']

In [460]:
title_categorized

,index,review_id,review_comment_title,review_comment_message,Primary Category,Secondary Category,Primary Category,Secondary Category
0,41007,1edd1a85161468a77e5fcb165be9b294,Ótimo,NaN,NaN,NaN,Positive,Positive
1,41039,352609f0f2d34ce5d3b8de817ee948d5,Não recebi o produto.,NaN,NaN,NaN,Missing Items,Missing Items
2,41109,a89a2b0c2014bc49a0f87f1eedb7b269,Entrega antes do previsto,NaN,NaN,NaN,Delivery,Delivery
3,41112,cdc5c81bd9377ccbf9cb95f05648c31b,Recomendo,NaN,NaN,NaN,Positive,Positive
4,41266,b50001aa0bbd7557c4ad80eee167a2a1,Ótimo,NaN,NaN,NaN,Positive,Positive
...,...,...,...,...,...,...,...,...
1724,99108,8b46f9e835a1644a414a9753b1d9539d,Excelente,NaN,NaN,NaN,Positive,Positive
1725,99125,3103d2a4e5556d9c00c29e820958b5e7,Super satisfeito,NaN,NaN,NaN,Positive,Positive
1726,99138,451849d56168ddedbe4d4ef3749af6ea,muito bom,NaN,NaN,NaN,Positive,Positive
1727,99190,d8ab64a06366d369a9cdbed694e7ee93,super recomendo,NaN,NaN,NaN,Positive,Positive
1728,99207,40743b46a0ee86375cedb95e82b78d75,OTIMA EMBALAGEM,NaN,NaN,NaN,Delivery,Delivery

In [461]:
title_categorized.columns = ['index','review_id', 'review_comment_title', 1,2,3, 'Primary Category','Secondary Category']

In [462]:
title_categorized.drop([1,2,3], axis=1 , inplace=True)

In [493]:
title_categorized

,index,review_id,review_comment_title,Primary Category,Secondary Category
0,41007,1edd1a85161468a77e5fcb165be9b294,Ótimo,Positive,Positive
1,41039,352609f0f2d34ce5d3b8de817ee948d5,Não recebi o produto.,Missing Items,Missing Items
2,41109,a89a2b0c2014bc49a0f87f1eedb7b269,Entrega antes do previsto,Delivery,Delivery
3,41112,cdc5c81bd9377ccbf9cb95f05648c31b,Recomendo,Positive,Positive
4,41266,b50001aa0bbd7557c4ad80eee167a2a1,Ótimo,Positive,Positive
...,...,...,...,...,...
1724,99108,8b46f9e835a1644a414a9753b1d9539d,Excelente,Positive,Positive
1725,99125,3103d2a4e5556d9c00c29e820958b5e7,Super satisfeito,Positive,Positive
1726,99138,451849d56168ddedbe4d4ef3749af6ea,muito bom,Positive,Positive
1727,99190,d8ab64a06366d369a9cdbed694e7ee93,super recomendo,Positive,Positive
1728,99207,40743b46a0ee86375cedb95e82b78d75,OTIMA EMBALAGEM,Delivery,Delivery

In [497]:
title_categorized.to_csv('categorized_titles.csv',index = False)